body {
  margin: 0; 
  padding: 0; 
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Add your preferred background color */
  z-index: 1000;
}

.main-content {
  margin-top: 80px; 
  padding: 20px; 
  width: 100%;
  height: 100%;
}

.create-account {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  position: relative;
  background-color: var(--background);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 50px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--background);
}

.nav-logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.logo {
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url(/img/eye.svg);
  background-size: 100% 100%;
}

.text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}

.nav-nav-menu {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.div {
  display: inline-flex;
  height: 46px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0px 20px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.button {
  position: relative;
  width: fit-content;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0;
  border: none;
  background: none;
}

.sign-up {
  display: inline-flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0px 30px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--blue-accent);
  border-radius: 20px;
  transition: all 0.3s ease;
}

.login-link {
  color: var(--blue-accent);
}

.user {
  position: relative;
  width: 20px;
  height: 20px;
}

.div-2 {
  display: flex;
  align-items: center;
  gap: 60px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--background);
}

.image-placeholder {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  object-fit: cover;
}

.create-account-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 80px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.headline-subhead {
  display: flex;
  flex-direction: column;
  width: 460px;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.headline-subhead-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.headline {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.text-wrapper-2 {
  font-weight: var(--h2-work-sans-font-weight);
  color: var(--white);
  font-size: var(--h2-work-sans-font-size);
  line-height: var(--h2-work-sans-line-height);
  position: relative;
  margin-top: -1px;
  font-family: var(--h2-work-sans-font-family);
  letter-spacing: var(--h2-work-sans-letter-spacing);
  font-style: var(--h2-work-sans-font-style);
}

.subhead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.p {
  align-self: stretch;
  font-weight: var(--body-text-work-sans-font-weight);
  color: var(--white);
  font-size: var(--body-text-work-sans-font-size);
  line-height: var(--body-text-work-sans-line-height);
  position: relative;
  margin-top: -1px;
  font-family: var(--body-text-work-sans-font-family);
  letter-spacing: var(--body-text-work-sans-letter-spacing);
  font-style: var(--body-text-work-sans-font-style);
}

.form {
  display: flex;
  flex-direction: column;
  width: 330px;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.typeforms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.type-form {
  display: flex;
  height: 46px;
  align-items: center;
  gap: 12px;
  padding: 16px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--text);
  border-radius: 20px;
  border: 1px solid;
  border-color: var(--caption-label-text);
}

.create-account .img {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: -3px;
  margin-bottom: -3px;
}

.username {
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -3px;
  margin-bottom: -3px;
  background-color: transparent;
  font-family: var(--base-body-work-sans-font-family);
  font-weight: var(--base-body-work-sans-font-weight);
  color: var(--background);
  font-size: var(--base-body-work-sans-font-size);
  letter-spacing: var(--base-body-work-sans-letter-spacing);
  line-height: var(--base-body-work-sans-line-height);
  border: none;
  padding: 0;
  font-style: var(--base-body-work-sans-font-style);
}

.username:focus {
  outline: none;
}
.enter-your-email:focus {
  outline: none;
}

.button-2 {
  display: flex;
  height: 46px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0px 50px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--blue-accent);
  border-radius: 20px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 195px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--background-secondary);
}

.footer-info {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
  margin-left: -67.21px;
  margin-right: -67.21px;
}

.NFT-marketplace-info {
  display: flex;
  flex-direction: column;
  width: 327.41px;
  align-items: flex-start;
  gap: 30px;
  padding: 0px 84px 0px 0px;
  position: relative;
}

.div-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.logo-2 {
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url(./img/eye-1.svg);
  background-size: 100% 100%;
}

.NFT-marketplace-UI {
  position: relative;
  width: 238px;
  font-family: var(--base-body-work-sans-font-family);
  font-weight: var(--base-body-work-sans-font-weight);
  color: #cccccc;
  font-size: var(--base-body-work-sans-font-size);
  letter-spacing: var(--base-body-work-sans-letter-spacing);
  line-height: var(--base-body-work-sans-line-height);
  font-style: var(--base-body-work-sans-font-style);
}

.community-info {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
}

.join-our-community {
  position: relative;
  width: 238px;
  height: 18px;
  margin-top: -1px;
  font-family: var(--base-body-work-sans-font-family);
  font-weight: var(--base-body-work-sans-font-weight);
  color: #cccccc;
  font-size: var(--base-body-work-sans-font-size);
  letter-spacing: var(--base-body-work-sans-letter-spacing);
  line-height: var(--base-body-work-sans-line-height);
  white-space: nowrap;
  font-style: var(--base-body-work-sans-font-style);
}

.icons {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.img-2 {
  position: relative;
  width: 32px;
  height: 32px;
}

.explore {
  display: flex;
  flex-direction: column;
  width: 240px;
  align-items: flex-start;
  gap: 25px;
  position: relative;
}

.text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--h5-space-mono-font-family);
  font-weight: var(--h5-space-mono-font-weight);
  color: #ffffff;
  font-size: var(--h5-space-mono-font-size);
  letter-spacing: var(--h5-space-mono-letter-spacing);
  line-height: var(--h5-space-mono-line-height);
  white-space: nowrap;
  font-style: var(--h5-space-mono-font-style);
}

.text-wrapper-4 {
  width: fit-content;
  font-weight: var(--base-body-work-sans-font-weight);
  color: #cccccc;
  font-size: var(--base-body-work-sans-font-size);
  line-height: var(--base-body-work-sans-line-height);
  white-space: nowrap;
  position: relative;
  margin-top: -1px;
  font-family: var(--base-body-work-sans-font-family);
  letter-spacing: var(--base-body-work-sans-letter-spacing);
  font-style: var(--base-body-work-sans-font-style);
}

.text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: var(--base-body-work-sans-font-family);
  font-weight: var(--base-body-work-sans-font-weight);
  color: #cccccc;
  font-size: var(--base-body-work-sans-font-size);
  letter-spacing: var(--base-body-work-sans-letter-spacing);
  line-height: var(--base-body-work-sans-line-height);
  white-space: nowrap;
  font-style: var(--base-body-work-sans-font-style);
}

.subscribe {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-6 {
  width: 330px;
  font-weight: var(--base-body-work-sans-font-weight);
  color: #cccccc;
  font-size: var(--base-body-work-sans-font-size);
  line-height: var(--base-body-work-sans-line-height);
  position: relative;
  margin-top: -1px;
  font-family: var(--base-body-work-sans-font-family);
  letter-spacing: var(--base-body-work-sans-letter-spacing);
  font-style: var(--base-body-work-sans-font-style);
}

.subscribe-form {
  display: flex;
  width: 420px;
  height: 60px;
  align-items: center;
  gap: 12px;
  padding: 16px 0px 16px 20px;
  position: relative;
  background-color: var(--text);
  border-radius: 20px;
}

.enter-your-email {
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: transparent;
  font-family: var(--base-body-work-sans-font-family);
  font-weight: var(--base-body-work-sans-font-weight);
  color: var(--background);
  font-size: var(--base-body-work-sans-font-size);
  letter-spacing: var(--base-body-work-sans-letter-spacing);
  line-height: var(--base-body-work-sans-line-height);
  border: 0;
  padding: 0;
  font-style: var(--base-body-work-sans-font-style);
}

.button-3 {
  display: inline-flex;
  height: 60px;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  padding: 0px 50px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -16px;
  margin-bottom: -16px;
  background-color: var(--blue-accent);
  border-radius: 20px;
  transition: all 0.3s ease;
}
/*HOME */

#video-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}


#video1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#video2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#video3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#video4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
